/*
 * ratio-ui · design system for knowledge sharing
 * SPDX-FileCopyrightText: 2026 Losol AS
 * SPDX-License-Identifier: MPL-2.0
 */

[data-rac][role='alertdialog'][data-entering] {
  animation: toast-slide-in 250ms ease-out;
}

[data-rac][role='alertdialog'][data-exiting] {
  animation: toast-slide-out 200ms ease-in forwards;
}

@keyframes toast-slide-in {
  from {
    translate: 100% 0;
    opacity: 0;
  }
}

@keyframes toast-slide-out {
  to {
    translate: 100% 0;
    opacity: 0;
  }
}
