/*
 * ratio-ui · design system for knowledge sharing
 * SPDX-FileCopyrightText: 2026 Losol AS
 * SPDX-License-Identifier: MPL-2.0
 */

@theme {
  /* Border radius */
  --radius-sm: 0.25rem;
  --radius: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
}
